body {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-image:
        linear-gradient(
            to bottom left,
            #000000, 
            #41004e, 
            #550061,
            #6a0075, 
            #801289, 
            #962d9e, 
            #ac43b3
        );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.left-side-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 20px;
    padding-top: 95px;
}

.instruction-section {
    width: 200px;
}

.right-side-main {
    padding-top: 10px;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px #000000;
    text-shadow: 1.5px 1.5px 5px #85718e;
}

form {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#main-title {
    font-family: OCR A Std, monospace;
    color: #999494;
    letter-spacing: 0.05em;
    text-shadow: 1.5px 1.5px 5px #85718e;
    font-size: 42px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    text-align: center;
    border-radius: 20px;
    width: 1080px;
    box-shadow: 0px 0px 10px #000000;
}

canvas {
    position: absolute;
    left: 220px;
    top: 90px;
    border-radius: 50px;
    box-shadow: 0 0 200px #6a0075 inset;
}

.button {
    font-weight: bold;
    color: #6a0075;
    background-color: pink;
    width: 115px;
    height: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px #6a0075 inset;
    box-shadow: 0 0 10px #85718e;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(252, 206, 214);
}

.controls {
    font-weight: bold;
    font-size: 15px;
    text-shadow: 1.5px 1.5px 5px #85718e;
    margin-top: 5px;
    margin-bottom: 5px;
}

#controller {
    margin-top: 15px;
    margin-bottom: 15px;
}


.instruction-modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    width: 1080px;
    height: 720px;
    top: 50px;
    left: 175px;
    position: absolute;
    background-image:
        linear-gradient(to top left,
                #000000,
                #41004e,
                #550061,
                #6a0075,
                #801289,
                #962d9e,
                #ac43b3);
    border-radius: 30px;
    box-shadow: 0 0 50px #6a0075 inset;
}

#modal-title {
    font-family: OCR A Std, monospace;
    color: #999494;
    letter-spacing: 0.05em;
    text-shadow: 1.5px 1.5px 5px #85718e;
    font-size: 26px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0px 0px 10px #000000;
    margin-top: 30px;
}

#modal-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
}

#intro {
    margin-top: 25px;
    width: 65%;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1.5px 1.5px 5px #85718e;
}

.keyboard-controls {
    position: absolute;
    left: 15%;
    top: 30%;
    width: max-content;
}

#keyboard-legend {
    position: absolute;
    right: 10%;
    top: 45%;
    height: max-content;
    width: max-content;
}

.instructions {
    text-align: left;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 5px #85718e;
}

#modal-button {
    position: absolute;
    bottom: 10%;
    left: 44%;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-image:
        linear-gradient(
            to bottom left,
            #000000, 
            #41004e, 
            #550061,
            #6a0075, 
            #801289, 
            #962d9e, 
            #ac43b3
        );
    opacity: .8;
}

.button #directions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-link-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.personal-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.personal-links:hover {
    cursor: pointer;
    background-color: #801289;
    border-radius: 4px;
}

.personal-links > span {
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-shadow: 1.5px 1.5px 5px #85718e;
    margin-top: 5px;
    margin-bottom: 5px;
}

.personal-link-images {
    max-height: 36px;
}