body {
    background-color: gray;
    display: flex;
}

button {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    border: 1px solid black;
    padding: 0;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.kit-selector {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}